@import url('https://scrollhunt.pixel-fy.com/bars/2/bar.css');
@import url('responsive.css');
@import url('footer.css');
@font-face {
    font-family: font;
    src: url(fonts/font4.otf);
  }

body {
    font-family: font;
    margin: 0;
}

header {
    padding-left: 8vw;
    padding-top: 3vw;
    text-decoration: none;
}
header h1 {
    font-size: 7vw;
    color: #9088d4;
    margin-bottom: -20px;
    text-decoration: none;
    transition: 0.3s;
    
}

header h1:hover {
    color: #b8b5ff;
}
header h1 a {
  text-decoration: none;
}

header p {
    margin-top: 0;
    color: #9F9F9F;
    font-size: 1.5vw;
}
.sticky {
  position: absolute;
  top: 12vw;
  right: 8vw;
}
.btn {

    background-color: #b8b5ff; 
    border: none;
    color: #7872FF;
    padding: 0 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 30px;
    padding-bottom: 5px;
    padding-top: 9px;
    transition: 0.3s;
}
.btn:hover {
  background-color: #9088d4;
  color: white;
}
.main {
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 6vw;
    word-wrap:break-word;
}

* {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    width: 50%;
    padding: 10px;
   
  }

  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }
.column img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
  .main h2 {
      color: #b8b5ff;
      font-size: 4.5vh;
  }
  .main p {
      color: #636363;
      font-size: 3vh;
  }


  .fadein {

    opacity: 1;
      -webkit-animation: fadein 1s; 
         -moz-animation: fadein 1s; 
          -ms-animation: fadein 1s; 
           -o-animation: fadein 1s; 
              animation: fadein 1s;
  }

  
  .fadein2 {

    opacity: 1;
      -webkit-animation: fadein 2s; 
         -moz-animation: fadein 2s; 
          -ms-animation: fadein 2s; 
           -o-animation: fadein 2s; 
              animation: fadein 2s;
  }

  .fadein3 {

    opacity: 1;
      -webkit-animation: fadein 3s; 
         -moz-animation: fadein 3s; 
          -ms-animation: fadein 3s; 
           -o-animation: fadein 3s; 
              animation: fadein 3s;
  }
  
  @keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }

  @keyframes fadein2 {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadein3 {
  from { opacity: 0; }
  to   { opacity: 1; }
}
